/* RESET Y BOX MODEL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

/* NAVBAR */
.navbar {
    background-color: #808080;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo { font-size: 36px; font-weight: 700; cursor: pointer; }
.purple { color: #a333ff; }
.yellow { color: #ffd700; }

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
    font-weight: 600;
}

/* CONTENEDOR PRINCIPAL */
.main-layout {
    display: flex;
    flex: 1;
}

/* SIDEBAR */
.sidebar {
    background-color: #d9d9d9;
    width: 230px;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    justify-content: space-between;
    border-right: 1px solid #ccc;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.menu-nav a.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.profile-footer {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

/* ÁREA DE BÚSQUEDA */
.search-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.search-row {
    display: flex;
    gap: 20px;
    width: 70%;
    max-width: 700px;
}

.search-input {
    flex: 1;
    height: 40px;
    background-color: #d9d9d9;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
}

.search-btn {
    width: 70px;
    height: 40px;
    background-color: #d9d9d9;
    border: none;
    cursor: pointer;
}

.filter-row {
    width: 70%;
    max-width: 700px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-row span { font-size: 14px; }

.filter-box {
    width: 110px;
    height: 22px;
    background-color: #d9d9d9;
}